<link rel="stylesheet" href="/stylesheets/style.css">
<h4>Authentication Demo App</h4>
<div class="main-page">
    <a href="/users" ><button>LOGIN</button></a>
   
   <a href="/users/register"><button>REGISTER</button></a>
</div>